@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Tinos', serif;
    background-color: #FCF5E5;
}

.subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.container {
    max-width: 650px;
}

.navbar {
    background-color: #454545;
}

.btn {
    border-radius: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.navbar-brand,
.display-6 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.nav-link {
    margin: 5px;
}

.delete {
    border-radius: 25px;
    background-color: red;
}

.entry {
    margin-top: 10px;
}

.card-body {
    margin-bottom: 0px;
}

.btn-info {
    margin-top: 0px;
    font-size: 1.25em;
}

.card-header,
#view-practice {
    text-align: center;
}

#index {
    margin: 15px auto;
    width: 300px;
    font-size: 2em;
}

.home-btn {
    width: 200px;
    height: 50px;
    font-size: 1.5em;
}
article.text-center {
    margin-bottom: 10px
}

.editGroup {
    width: 150px;
}

#editPractice {
    margin-right: 2rem;
    font-size: 1em;
}

.delete {
    width: 40px;
    height: 40px;
}

.log-in {
    width: 150px;
    font-size: 1.5em;
}

.sign-in {
    width: 250px;
    font-size: 1.5em;
}

.navbar-text {
    color: white;
    font-style: italic;
}

.show-page {
    font-size: 1.1em;
    height: 40px;
    width: 150px;
}

.delete-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

#filterPractice {
    margin: 10px auto;
}

.composerResults {
    display: flex;
    flex-wrap: wrap;
}

.composerCard {
    box-sizing: border-box;
    max-width: 200px;
}

#error {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

.composerCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
