{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/practices/{{practice._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Practice Entry</legend>
            <label class="form-label" for="date">Date:</label>
            <input 
                class="form-control" 
                type="date" 
                name="date" 
                id="date" 
                value="{{practice.date}}"
            >
            <label class="form-label" for="instrument">Instrument:</label>
            <input 
                class="form-control" 
                type="text" 
                name="instrument" 
                id="instrument" 
                placeholder="enter instrument"
                value="{{practice.instrument}}"
            >
            </fieldset>
        <div class="text-center">
            <input type="submit" value="Edit Practice" class="btn btn-success">
            <a href="/practices" class="btn btn-danger">Go Back</a>
        </div>
    </form>
</div>
{% endblock %}