{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Practice Entries</h2>
    <div class="row">
        {% for practice in practices %}
            <div class="card">
                <h5 class="card-header">{{practice.date}}</h5>
                <div class="card-body">
                    <h6 class="card-title"><strong>Instrument:</strong> {{practice.instrument}}
                    </h6>
                    <h6 class="card-body">TODO: EVENTUALLY PUT IN PIECES AND COMPOSERS</h6>
                    <a href='/practices/{{practice._id}}' class="btn btn-info">View Practice</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}