{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Practices</h2>
    <div class="row">
        {% for practice in practices %}
            <div class="card">
                <h5 class="card-header">{{practice.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">Practice info goes here
                    </h6>
                    <a href='/fruits/{{fruit._id}}' class="btn btn-info">View {{fruit.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}