{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/practices" method="POST">
        <fieldset>
            <legend>New Practice Entry</legend>
            <label class="form-label" for="date">Date:</label>
            <input 
                class="form-control" 
                type="date" 
                name="date" 
                id="date" 
            >
            <label class="form-label" for="instrument">Instument:</label>
            <input 
                class="form-control" 
                type="text" 
                name="instrument" 
                id="instrument" 
                placeholder="enter instrument"
            >
            </fieldset>
        <input type="submit" value="CREATE NEW PRACTICE ENTRY" class="btn btn-success">
    </form>
</div>
{% endblock %}