{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <article>
        <h2>{{practice.date}}</h2>
        <div class="btn-group">
            <a class="btn btn-primary" href="{{practice._id}}/edit">Edit Practice</a>
            <form action="/practices/{{practice._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </article>
    <div class="col-md-6">
        <form action="/entries/{{practice._id}}" method="POST">
            <fieldset>
                <legend>Add Entry</legend>
                <label class="form-label" for="instrument">Instrument: </label>
                <input type="text" class="form-control" name="instrument" id="instrument" placeholder="Enter your instrument here" />
                <label class="form-label" for="piece">Piece: </label>
                <input type="text" class="form-control" name="piece" id="piece" placeholder="Enter piece practiced here" />
                <label class="form-label" for="composer">Composer: </label>
                <input type="text" class="form-control" name="composer" id="composer" placeholder="Enter composer here" />
                <label class="form-label" for="minutes">Minutes Practiced: </label>
                <input type="number" class="form-control" name="minutes" id="minutes" />
                <label class="form-label" for="practice-entry">Note: </label>
                <input type="text" class="form-control" name="practice-entry" id="note" placeholder="Enter your notes here" />
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add Comment">
        </form>
    </div>
    {% if practice.entries.length > 0 %}
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                {% for entry in practice.entries %}
                    {% render '../users/entry.liquid' entry: entry, userId: userId, practice: practice, username: username %}
                    <!-- first one is the field declaration in comment.liquid, second is to match the comment on line 36 -->
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}