{% layout 'layout.liquid' %}

{% block content %}

<div class="col-md text-center">
    <h2>Oops! There's been an error with your username or password.</h2>
    <h3>Please <a href="/users/login">click here</a> to try again.</h3> 
</div>

{% endblock %}