{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md">
    <p>This is the reporting page!</p> 
    <div>
        <a href="../practices">go back?</a>
    </div>    
</div>

{% endblock %}